<div  ng-show="ctrl.comments">
    <ul class="collection">
        <li show-authed="true" class="collection-item avatar">
          <img ng-src="{{ctrl._user.image}}" alt="" class="circle">
          <p><textarea id="textarea1" class="materialize-textarea" ng-model="ctrl.comment.body"></textarea></p>
          <a ng-click="ctrl.send()" class="btn-small cyan "><i class="material-icons">send</i></a>
        </li>
    </ul>
    <div infinite-scroll="load()" infinite-scroll-distance='3' infinite-scroll-immediate-check='true'>
      <ul class="collection"  ng-repeat="infotest in ctrl.comments">
        <li class="collection-item avatar">
          <img ng-src="{{infotest.author.image}}" alt="" class="circle">
          <span class="title">{{infotest.author.username}}</span>
          <p>{{infotest.body}}</p>
         
          <div if-user="{{infotest.author.username}}">
          <a ng-hide="ctrl.embed_comment.status"  ng-click="ctrl.update({type:'change'})" 
             class="btn-small green"><i class="material-icons">edit</i></a><!-- open editor -->
          <a ng-hide="ctrl.embed_comment.status" ng-click="ctrl.delete(infotest._id)" 
            class="btn-small red "><i class="material-icons">delete</i></a><!-- delete comment -->
          <p ng-show="ctrl.embed_comment.status"><textarea id="textarea1" 
            class="materialize-textarea" ng-model="ctrl.embed_comment.body"></textarea></p><!-- editor area -->
          <a ng-show="ctrl.embed_comment.status" ng-click="ctrl.update({type:'update',id:infotest._id})" 
            class="btn-small cyan "><i class="material-icons">send</i></a><!-- Send update -->
          <a ng-show="ctrl.embed_comment.status" ng-click="ctrl.update({type:'close'})" 
            class="btn-small red "><i class="material-icons">close</i></a><!-- close editor -->
         </div>
    
        </li>
      </ul>
    </div>
</div>

<!-- Comments in profile  -->
<div  ng-show="ctrl.user_comments">
    <div infinite-scroll="load()" infinite-scroll-distance='3' infinite-scroll-immediate-check='true'>
      <ul class="collection"  ng-repeat="infotest in ctrl.user_comments">
        <li class="collection-item avatar">
          <img ng-src="{{infotest.author.image}}" alt="" class="circle">
          <span class="title">{{infotest.author.username}}</span>
          <a ui-sref="app.products({ slug: '{{infotest.planet}}'})"class="secondary-content">
            <i class="material-icons">arrow_right</i>{{infotest.planet}}</a>
          <p>{{infotest.body}}</p>
         
          <div if-user="{{infotest.author.username}}">
          <a ng-hide="ctrl.embed_comment.status"  ng-click="ctrl.update({type:'change'})" 
             class="btn-small green"><i class="material-icons">edit</i></a><!-- open editor -->
          <a ng-hide="ctrl.embed_comment.status" ng-click="ctrl.delete(infotest._id)" 
            class="btn-small red "><i class="material-icons">delete</i></a><!-- delete comment -->
          <p ng-show="ctrl.embed_comment.status"><textarea id="textarea1" 
            class="materialize-textarea" ng-model="ctrl.embed_comment.body"></textarea></p><!-- editor area -->
          <a ng-show="ctrl.embed_comment.status" ng-click="ctrl.update({type:'update',id:infotest._id})" 
            class="btn-small cyan "><i class="material-icons">send</i></a><!-- Send update -->
          <a ng-show="ctrl.embed_comment.status" ng-click="ctrl.update({type:'close'})" 
            class="btn-small red "><i class="material-icons">close</i></a><!-- close editor -->
         </div>
    
        </li>
      </ul>
    </div>
</div>
