<div class="container">
    <div class="col s9 m7 ">
        <h2 class="header"><favorite-btn planet="$ctrl.planet.slug" show-authed="true"> {{$ctrl.planet.name}}</favorite-btn></h2>
        <h5 class="sub">Favorite Count: {{$ctrl.planet.favoritesCount}}</h5>
        <div class="card horizontal small">
            <div class="card-image">
            <img src="{{$ctrl.planet.image}}">
            
            </div>
            <div class="card-stacked">
            <div class="card-content">
                    <table class="responsive-table">
                            <thead>
                              <tr>
                                  <th>Diameter</th>
                                  <th>Gravity</th>
                                  <th>Orbital Period</th>
                                  <th>Rotation Period</th>
                                  <th>Population</th>
                                  <th>Surface Water</th>
                                  <th rowspan="2">Terrain</th>
                              </tr>
                            </thead>
                    
                            <tbody>
                              <tr>
                                <td>{{$ctrl.planet.diameter}}</td>
                                <td>{{$ctrl.planet.gravity}}</td>
                                <td>{{$ctrl.planet.orbital_period}}</td>
                                <td>{{$ctrl.planet.rotation_period}}</td>
                                <td>{{$ctrl.planet.population}}</td>
                                <td>{{$ctrl.planet.surface_water}}</td>
                                <td>{{$ctrl.planet.terrain[0]}}</td>
                                <td>{{$ctrl.planet.terrain[1]}}</td>
                              </tr>
                            </tbody>
                          </table>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <comment planet="$ctrl.planet.slug"></comment>
              </div>
          </div>
        
    </div> 
  </div>


