<div class="row">
        <div class="col l12">
            <!--WRAP-->
            <!--UserCard-->
            <div class="col l3">
                <!--Column-->
                <div class="card big">
                    <!--Card-->
                    <div class="card-image">
                            <b>User Image: </b>
                            <input type="text" ng-model="$ctrl.new_user_data.image"><!-- Cambiar Imagen -->
                        <span class="card-title center-block"> </span>
                    </div>
                    <div class="card-content amber center-align white-text">
                            <button-list filter="share"></button-list>
                    </div>
                </div>
                <!-- endCard-->
            </div>
            <!--endCol-l3-->
            <div class="col l6">
                <!--CompleteInfoUser-->
                <div class="card-panel">
                    <!--CardPanel-->
                    <div class="row">
                        <div class="col s12">
                            <!--TabAbout-->
                            <br>
                                <h5><i class="material-icons left">equalizer</i>Summary</h5>
                                <textarea ng-model="$ctrl.new_user_data.bio" cols="30" rows="10"></textarea><!-- Cambiar bio -->
                                <h5><i class="material-icons left">person</i>Basic Information</h5>
                            <div>
                                <p>
                                    <b>User Name: </b>
                                    <input type="text" ng-model="$ctrl.new_user_data.username"  ><!-- Cambiar name -->
                                </p>
                            </div>
                            <br> 
                            <div ng-click="$ctrl.update_user()" class="btn-large blue">
                                <i class="material-icons">done_all</i>
                            </div>
                            <div ui-sref="app.profile" class="btn-large red">
                                <i class="material-icons">arrow_back_ios</i>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
            <div class="col l3">
                <!--CompleteInfoUser-->
                <div class="card-panel">
                    <!--CardPanel-->
                    <div class="row">
                        <input type="button" value="Delete User" ng-click="$ctrl.delete_user()" class="btn-small red">  
                    </div>  
                </div>
            </div>
           
        </div>
    </div>

