<div class="row" id="win">
    <div class="col l12" >
       <div  ng-show="$ctrl.auth_controller">
            <div class="row">
                <div class="col s6">
                   <div class="container">
                    <div class="card">
                        <h2 class="center-align">Login</h2> 
                        <div class="divider"></div>
                        <div class="container">
                            <input placeholder="Placeholder" ng-model="$ctrl.user_quiz_data.login.mail" id="mail" type="text" class="validate">
                            <label for="mail">Mail</label>
                        </div><br>
                        <div class="divider"></div>
                        <div class="container">
                            <a ng-click="$ctrl.login()" class="waves-effect waves-light btn">Enviar</a>
                        </div>
                    </div>
                   </div>
                </div>
                <div class="col s6">
                  <div class="container">
                    <div class="card">
                        <h2 class="center-align">Register</h2>
                        <div class="divider"></div> 
                        <div class="container">
                            <input placeholder="Placeholder" ng-model="$ctrl.user_quiz_data.register.mail" id="RMail" type="text" class="validate">
                            <label for="RMail">Mail</label>
                            <input placeholder="Placeholder" ng-model="$ctrl.user_quiz_data.register.name" id="RUserName" type="text" class="validate">
                            <label for="RUserName">Use Name</label>
                        </div><br>
                        <div class="divider"></div>
                        <div class="container">
                            <a ng-click="$ctrl.register()" class="waves-effect waves-light btn">Enviar</a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
       </div>
       <div ng-show="$ctrl.question">
        <div class="row">
            <div class="col l12">
                <div class="col l3">
                    <div class="card">
                        <div class="card-image">
                                <img ng-src="{{$ctrl.user_data.image}}"/>
                            <span class="card-title center-block"> </span>
                        </div>
                    </div>
                </div>
                <div class="col l9">
                    <div class="card-panel">
                        <div class="row">
                            <span>Categoria: {{$ctrl.question.initGame.question[0].categorias[0].name}} </span><br>
                            <div id="test1" class="col s12">
                               <span>{{$ctrl.question.initGame.question[0].body}}</span><br>
                               <div class="container">
                                    <a ng-click="$ctrl.answer($ctrl.question.initGame.question[0].answer[0].answerId)" class="waves-effect waves-light btn">
                                        {{$ctrl.question.initGame.question[0].answer[0].body}}
                                    </a>
                                </div>
                                <div class="container">
                                    <a ng-click="$ctrl.answer($ctrl.question.initGame.answer2[0].answerId)" class="waves-effect waves-light btn">
                                        {{$ctrl.question.initGame.answer2[0].body}}
                                    </a>
                                </div>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div>
       </div>
       <div ng-show="$ctrl.win" >
            <div class="row">
                <div class="col l3">
                    <div class="card">
                        <!--Card-->
                        <div class="card-content amber center-align white-text">
                                <span class="card-title center-block">
                                        {{$ctrl.loged_user_data.name}}
                                    </span>
                            <a ng-click="$ctrl.logOut()" class="waves-effect waves-light btn">
                                Salir del Quiz
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col l9" >
                    <div class="card center-align">
                        <div class="card-panel teal">
                            <span class="card-title">May the force be with you</span><br>
                            <span class="white-text">Congratulations, you answered all 
                                the questions correctly. Be waiting for more questions that challenge your intellect. </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



