<div class="row">
    <div class="col l12">
        <!--WRAP-->
        <!--UserCard-->
        <div class="col l3">
            <!--Column-->
            <div class="card">
                <!--Card-->
                <div class="card-image">
                        <img ng-src="{{$ctrl.user_data.image}}"/>
                    <span class="card-title center-block"> </span>
                </div>
                <div class="card-content amber center-align white-text">
                        <button-list filter="share"></button-list>
                        
                </div>
            </div>
            <!-- endCard-->
        </div>
        <!--endCol-l3-->
        <div class="col l9">
            <!--CompleteInfoUser-->
            <div class="card-panel">
                <!--CardPanel-->
                <div class="row">
                    <div id="test1" class="col s12">
                        <!--TabAbout-->
                        <div ng-if="$ctrl.user_data.bio">
                            <br>
                            <h5><i class="material-icons left">equalizer</i>Summary</h5>
                            <p class="basicInfo grey-text text-darken-2">{{$ctrl.user_data.bio}}</p>
                            <br>
                        </div>
                        <h5><i class="material-icons left">person</i>Basic Information</h5>
                        <div class="black-text text-darken-2">
                            <p><b>User Name: </b>
                                <span>{{$ctrl.user_data.username}}</span></p>
                        </div>
                        <div ng-if="$ctrl.filter" class="black-text text-darken-2">
                            <p><h5><i class="material-icons left">favorite</i>Favorited Planets</h5>
                                <prduct-list  ng-if="$ctrl.filter" filter="$ctrl.filter"></prduct-list>
                            </p>
                        </div>
                        <div class="black-text text-darken-2">
                            <p><h5><i class="material-icons left">rate_review</i>Comentarios</h5>
                                <comment user="$ctrl.user_data.username"></comment>
                            </p>
                        </div>
                        <br>
                    </div>
                    
                </div>  
            </div>
        </div>
    </div>
</div>



