<nav class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand"
      ui-sref="app.home"
      ng-bind="::$ctrl.appName | lowercase">
    </a>

    <!-- Show this for logged out users -->
    <ul class=" nav navbar-nav pull-xs-right">
    <button-list filter="home"></button-list>
    <button-list filter="contact"></button-list>
    <button-list filter="quiz"></button-list>
  </ul>
  
  <ul class="right">
    <button-list filter="profile_settings"></button-list>
    <button-list filter="profile"></button-list>
    <button-list filter="login"></button-list>
    <button-list filter="logout"></button-list>
  </ul>  
  


  </div>
</nav>
