<div class="row">
    <div class="col l12">
        <!--WRAP-->
        <!--UserCard-->
        <div class="col l3">
            <!--Column-->
            <div class="card">
                <!--Card-->
                <div class="card-image">
                        <img ng-src="{{$ctrl.shop.image}}"/>
                    <span class="card-title center-block"> </span>
                </div>
                <div class="card-content amber center-align white-text">
                    {{$ctrl.shop.name}} 
                </div>
            </div>
            <!-- endCard-->
        </div>
        <!--endCol-l3-->
        <div class="col l9">
            <!--CompleteInfoUser-->
            <div class="card-panel">
                <!--CardPanel-->
                <div class="row">
                    <div id="test1" class="col s12">
                        <!--TabAbout-->
                        <h5><i class="material-icons left">shop</i>Products</h5>
                        <div class="collection">
                                <a ui-sref="app.single_product({ product_id: '{{infotest.product_id}}' })" class="collection-item" ng-repeat="infotest in $ctrl.shop.stock">
                                    <div class="row">
                                        <img  class="col s2" ng-src="{{infotest.image}}">
                                        <p>{{infotest.name}}</p>
                                        <div class="card-panel teal col s12">
                                            <span class="white-text">{{infotest.description}}</span>
                                        </div>
                                    </div>
                                </a>
                        </div>
                    
                        <br>
                    </div>
                    
                </div>  
            </div>
        </div>
    </div>
</div>