<ul class="error-messages" ng-show="$ctrl.errors && $ctrl.errors!='no'">
  
    <div ng-repeat="(field, errors) in $ctrl.errors">
      <li ng-repeat="error in errors">
          <div class="card-panel">
              <span class="red-text text-darken-2">{{field}} {{error}}</span>
            </div>
        
      </li>
    </div>
  </ul>
