<div class="container">

    <div class="row">
            <div class="container">
                    <div class="col s12"><h3 class="header center col s12 light">{{$ctrl.era_info.name}}</h3></div>
                    <div class="col s6"><img ng-src="{{$ctrl.era_info.image}}"></div>
                    <div class="col s6">{{$ctrl.era_info.description}}</div>
            </div>

            <h3 class="header col s12 light left">Sucesos notables</h3>

            <div ng-repeat="infotest in $ctrl.sucesos">
                <div ng-if="infotest.era==$ctrl.era_info.era_id">
                        <div>
                                <div class="col s12"><h3 class="header center col s12 light">{{infotest.name}}</h3></div>
                                <div class="col s6"><img ng-src="{{infotest.image}}"></div>
                                <div class="col s6">{{infotest.description}}</div>

                        </div>
                    </div>
            </div>
       
      </div>
            
</div>